/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  color: black;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {



}

.App {

  display: flex;
  justify-content: center;


}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}



/* font styles */

h1 {

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #CAC9FF;
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {

  font-weight: 800;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
}

span {

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #CAC9FF;
  mix-blend-mode: normal;
  opacity: 0.52;
}

h3 {

  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 8px;

}

.FirstP {

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #CAC9FF;
  width: 260px;
  margin: 0 auto;
  /* margin-top: 8px; */
}



h4 {

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  /* Dark Navy */

  color: #303B59;
  margin-top: 24px;
  margin-bottom: 24px;
}




@media screen and (min-width: 800px) {


  .FirstP {

    width: 260px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }


  h1 {

    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-top: 38px;
    margin-bottom: 35px;
  }

  h2 {

    font-weight: 800;
    font-size: 72px;
    line-height: 72px
  }

  .Circle span {

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }

  h3 {

    margin-bottom: 14px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  body {

    background-color: white;
  }

  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #303B59;
    margin-top: 38px;
    margin-bottom: 28px;

  }

  .App {

    align-items: center;
    background-color: white;
    padding: 142px 0;
    
  }

  body {

  }

}